.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 4rem 0;
}

.projects--highlight {
  grid-template-columns: 1fr;
  gap: 5rem;
}

.digital__title {
  margin-top: 4rem;
}

.highlight__date {
  font-weight: 700;
}

.highlight__title {
  font-size: var(--fs-xxl);
  margin: 0;
}

.highlight{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.highlight__text{
  display: flex;
  flex-flow:column nowrap;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

/* media queries */
@media only screen and (min-width: 40em) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 7rem;
  }
  .projects--highlight {
  grid-template-columns: 1fr;
  gap: 5rem;
}

  .highlight{
    gap: 3rem;
   
   grid-template-columns: 1fr 1fr;
  align-items: center;
}

li:nth-child(even) a .highlight__text{
  grid-column: 1;
  grid-row: 1;
}

}

@media only screen and (min-width: 60em) {
  .projects {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 1rem;
    margin-bottom: 7rem;
  }
  .projects--highlight {
  grid-template-columns: 1fr;
  gap: 5rem;
}
}
