.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 4rem 0;
}

.digital__title{
    margin-top: 4rem;
}

/* media queries */
@media only screen and (min-width: 40em) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (min-width: 60em) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
