@font-face {
  font-family: "estherHandwriting";
  src: url("../assets/fonts/esther-handwriting.ttf");
  font-display: swap;
}

:root {
  --black: #2b2b2b;
  --white: #f9f9f9;
  --primary: #1b7de7;
  --accent: #f12e1d;
  --fs-sm: clamp(0.8rem, 0.25vi + 0.74rem, 0.94rem);
  --fs-base: clamp(1rem, 0.45vi + 0.89rem, 1.25rem);
  --fs-md: clamp(1.25rem, 0.76vi + 1.06rem, 1.67rem);
  --fs-l: clamp(1.56rem, 1.2vi + 1.26rem, 2.22rem);
  --fs-xl: clamp(1.95rem, 1.83vi + 1.5rem, 2.96rem);
  --fs-xxl: clamp(2.44rem, 2.74vi + 1.76rem, 3.95rem);
  --fs-xxxl: clamp(3.05rem, 4.02vi + 2.05rem, 5.26rem);
  --shadow : 2.87px 2.87px 17.796px 0 rgba(0, 0, 0, 0.13);
}

html {
  box-sizing: border-box;
  background-color: var(--white);
  display: grid;
  place-items: center;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.body__container {
  width: 100vw;
  max-width: 140rem;
  padding: 0 1rem;
}

body{
  cursor: url('../assets/svg/cursor-normal.svg'), auto;
}

.cursor--retro{
cursor: url('../assets/svg/cursor-retro.svg'), auto;
}

.cursor--pointer{
  cursor: url("../assets/svg/cursor-pointer.svg") 13 13, pointer;
}

body,
* {
  color: var(--black);
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* general styles */

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

p {
  max-width: 55ch;
  font-size: var(--fs-base);
  line-height: 120%;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: var(--fs-l);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

em {
  font-weight: 600;
}

/* text styles */
.text--medium {
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.text--bold {
  font-family: "helvetica-neue-lt-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text--poster {
  font-family: poster, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text--scribbles {
  font-family: "estherHandwriting", serif;
  font-size: var(--fs-xl);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--accent-colour, #f12e1d);
  line-height: 70%;
}

.text--computer {
  font-family: "ibm-plex-mono", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.text--center {
  text-align: center;
}

.text--title {
  font-size: 4rem;
  line-height: 100%;
  margin-top: 1rem;
}

.text--abovetitle {
  font-size: var(--fs-l);
}

.text--subtitle {
  font-size: 2rem;
  margin: 0 0.5rem;
  line-height: 90%;
}

.text--section {
  font-size: var(--fs-base);
}

.text--right {
  text-align: right;
}

.color--primary {
  color: var(--primary);
}

.color--accent {
  color: var(--accent);
}

.error-line {
  position: relative;
}

.error-line::after {
  content: url(../assets/svg/errorline.svg);
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translate(-50%, 0);
  z-index: -1;
}

.error-line--hero.error-line::after {
  transform: translate(-50%, 0) scale(0.8);
}

.error-line--cause{
  white-space: nowrap;
  width: min-content;
  
}

.error-line--cause.error-line::after{
  left: 0%;
  transform: translate(0, 0);
}

/* markdown */
/* markdown styling */
.detail__brief {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.detail__brief__text p {
  margin-bottom: 1rem;
}

.detail__process {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.detail__process__p {
  margin: 1rem 0;
}

.detail__result {
  margin-top: 2rem;
}

.detail__result__container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.detail__result__container__text {
  display: flex;
  flex-flow: column nowrap;
}

.detail__img__stack {
  margin-bottom: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: var(--fs-sm);
  font-weight: 500;
  width: 10rem;
  align-self: center;
}

.detail__img__process {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
}

.detail__img__process p img,
.detail__img__process p {
  min-width: 100%;
}

/* media queries */
@media only screen and (min-width: 40em) {
  .body__container {
    padding: 0 2rem;
  }

  .fullscreen--center {
    min-height: 90vh;
    justify-content: center;
  }

  /* text styles */
  .text--title {
    font-size: 8rem;
    margin-top: 2rem;
    line-height: 90%;
  }

  .text--subtitle {
    font-size: 4rem;
    margin: 0;
    line-height: 80%;
  }

  h1 {
    font-size: 1.5rem;
  }

  .error-line--hero.error-line::after {
    transform: translate(-50%, 0) scale(1);
  }

  .error-line--about.error-line::after {
    bottom: 5px;
    transform: translate(-50%, 0) scale(1.5);
  }

  .error-line--chaos.error-line::after {
    bottom: 0;
    transform: translate(-50%, 0) scale(1.8);
  }

  /* markdown */
  /* markdown styling */
  .detail__brief {
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 4rem;
    justify-content: center;
  }

  .detail__process__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
  }

  .detail__result__container {
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 4rem;
    justify-content: center;
  }

  .detail__img__stack {
    align-self: start;
  }
}

@media only screen and (min-width: 50em) {
  .body__container {
    padding: 0 5rem;
  }

  .error-line--hero.error-line::after {
    transform: translate(-50%, 0) scale(1.2);
  }
}
