/* header */
.header {
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 4rem;
}

.header__text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.scribble__text--hero {
  white-space: nowrap;
}

.scribble__arrow--hero {
  transform-origin: center;
  transform: scale(0.8);
}

.scribble--hero {
  position: absolute;
  bottom: -80px;
  left: -100px;
  transform: scale(1) rotate(-30deg);
}

.header__icon{
  display: grid;
  place-items: center;
}

.header__icon__file{
 opacity: 0;
 z-index: -2;
}

.header__icon__folder, .header__icon__file{
  grid-column: 1;
  grid-row: 1;
}

/* works */
.works__center {
  padding-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 7rem;
}

.works__noncenter {
  padding-top: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-bottom: 7rem;
}

.works__p {
  margin-top: 1rem;
}

.works__one__title {
  margin-bottom: -0.5rem;
  z-index: 2;
  white-space: nowrap;
}

.works__two__title {
  max-width: 10ch;
  text-align: center;
  line-height: 92%;
  margin: 1rem 0;
}

.works__three__title {
  margin-top: -0.5rem;
  z-index: 2;
}

.scribble--plantin{
  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;
  position: absolute;
  left: -10px;
  top: -130px;

}

.scribble__arrow--plantin{
  transform: scale(.8);
}

.works__last__folder__container {
  display: flex;
  flex-flow: column;
  margin: 2rem 0;
  align-self: center;
  gap: 2rem;
  max-width: 45rem;
}

/* about section */
.about__center {
  padding-top: 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 3rem;
}

.about__introduction {
  align-self: flex-end;
  margin-top: 2rem;
}

.about__bubble {
  align-self: center;
  margin-top: 1rem;
}

.about__two__container {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 5rem;
}

.about__two__sub {
  margin-bottom: 1rem;
}

.about__img {
  margin-top: -1rem;
  display: grid;
  grid-template-columns: 1fr 0.2fr 2fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
}

.about__img__selected {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  align-self: center;
}

.about__img__window {
  grid-column: 2 / span 2;
  grid-row: 1 / span 3;
  justify-self: end;
}

.education__p{
  margin-bottom: 2rem;
}

.about__education{
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  justify-content: center;
  margin: 5rem 0;
}

.about__education__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .5fr;
}

.about__education__img{
  grid-column: 1 / span 2;
  grid-row: 1;
  max-width: 23rem;
}

.about__education__shirt{
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  z-index: 2;
  align-self: flex-end;

}

.window__repeat__container{
  display: grid;
  place-items: center;
  margin-top: 2rem;
}

.window__repeat{
  grid-column: 1;
  grid-row: 1;
}

.window__repeat:nth-child(1){
  margin-bottom: calc(2.5rem *4) ;

}

.window__repeat:nth-child(2){
  margin-bottom: calc(2.5rem *3) ;

}

.window__repeat:nth-child(3){
  margin-bottom: calc(2.5rem *2) ;

}

.window__repeat:nth-child(4){
  margin-bottom: calc(2.5rem *1) ;

}


/* media queries */
@media only screen and (max-width: 28em) {
  .about__title {
    max-width: 10ch;
  }
}

@media only screen and (min-width: 25em) {
  /* works the last section */
  .works__last__folder__container {
    display: flex;
    flex-flow: row;
    gap: 0rem;
    justify-content: space-between;
    width: stretch;
  }

  .works__noncenter {
    gap: 7rem;
  }
}

@media only screen and (min-width: 40em) {
  /* header */
  .header {
    gap: 4rem;
    height: 93vh;
    padding: 0;
  }

  .about__bubble {
    align-self: flex-end;
  }

  .scribble--hero {
    position: absolute;
    bottom: -35px;
    left: -150px;
    transform: scale(1.2);
  }

  .scribble__text--hero {
  transform: translate(-50%);
  white-space: nowrap;
}

.scribble--plantin{
  display: flex;
  flex-flow: row nowrap;
  gap: .5rem;
  position: absolute;
  left: -50px;
  top: -130px;

}

.window__repeat__container{
  margin-left: 5rem;
}


.window__repeat:nth-child(1){
  margin-bottom: calc(2.5rem *4) ;
  margin-right: calc(2.5rem *4) ;
}

.window__repeat:nth-child(2){
  margin-bottom: calc(2.5rem *3) ;
  margin-right: calc(2.5rem *3) ;
}

.window__repeat:nth-child(3){
  margin-bottom: calc(2.5rem *2) ;
  margin-right: calc(2.5rem *2) ;
}

.window__repeat:nth-child(4){
  margin-bottom: calc(2.5rem *1) ;
  margin-right: calc(2.5rem *1) ;
}

}

@media only screen and (min-width: 50em) {
  /* about */
  .about__container {
    margin-top: -0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }

  .about__introduction {
    justify-self: center;
    align-self: center;
  }

  .about__education{
  flex-flow: row nowrap;
  align-items: center;
}
}
