---
import Construction from "../components/elements/Construction.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="body__container">
   <Construction/>
  </div>
</BaseLayout>
