---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
    .construction__container{
        display: grid;
        place-items: center;
        min-height: 90vh;
    }
</style>

<BaseLayout>
  <div class="construction__container">
    <h2 class="text--poster text--title text--center">still under construction</h2>
  </div>
</BaseLayout>
