---
import Construction from "../components/elements/Construction.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <div class="body__container">
    <Construction />
  </div>
  <Footer />
</BaseLayout>
