<style>
  .construction__container {
    display: grid;
    place-items: center;
    min-height: 90vh;
  }

  @media only screen and (min-width: 40em) {
    .text--subtitle {
      font-size: 8rem;
    }
  }
</style>

<div class="construction__container">
  <h2 class="text--poster text--subtitle text--center">
    still under construction
  </h2>
</div>
