---

---

<style>
  .morebtn {
    background-color: rgba(43, 43, 43, 0.8);
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.75rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid rgba(120, 120, 120, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    width: 13rem;
    margin: 1.5rem 0;
  }

  .morebtn__text {
    color: var(--white);
    font-size: var(--fs-sm);
  }
</style>

<div class="morebtn">
  <p class="morebtn__text">More ...</p>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
  >
    <path
      d="M9.55099 2.22272C13.9177 2.22272 17.4574 5.76244 17.4574 10.1292C17.4574 14.4959 13.9177 18.0356 9.55099 18.0356C5.18425 18.0356 1.64453 14.4959 1.64453 10.1292C1.64453 5.76244 5.18425 2.22272 9.55099 2.22272ZM9.55099 3.80401C7.87345 3.80401 6.26462 4.47041 5.07842 5.65661C3.89222 6.84281 3.22582 8.45164 3.22582 10.1292C3.22582 11.8067 3.89222 13.4155 5.07842 14.6017C6.26462 15.7879 7.87345 16.4543 9.55099 16.4543C11.2285 16.4543 12.8374 15.7879 14.0236 14.6017C15.2098 13.4155 15.8762 11.8067 15.8762 10.1292C15.8762 8.45164 15.2098 6.84281 14.0236 5.65661C12.8374 4.47041 11.2285 3.80401 9.55099 3.80401ZM5.99308 8.94321C6.30762 8.94321 6.60928 9.06816 6.83169 9.29057C7.0541 9.51298 7.17905 9.81464 7.17905 10.1292C7.17905 10.4437 7.0541 10.7454 6.83169 10.9678C6.60928 11.1902 6.30762 11.3151 5.99308 11.3151C5.67854 11.3151 5.37689 11.1902 5.15448 10.9678C4.93206 10.7454 4.80711 10.4437 4.80711 10.1292C4.80711 9.81464 4.93206 9.51298 5.15448 9.29057C5.37689 9.06816 5.67854 8.94321 5.99308 8.94321ZM9.55099 8.94321C9.86553 8.94321 10.1672 9.06816 10.3896 9.29057C10.612 9.51298 10.737 9.81464 10.737 10.1292C10.737 10.4437 10.612 10.7454 10.3896 10.9678C10.1672 11.1902 9.86553 11.3151 9.55099 11.3151C9.23645 11.3151 8.9348 11.1902 8.71238 10.9678C8.48997 10.7454 8.36502 10.4437 8.36502 10.1292C8.36502 9.81464 8.48997 9.51298 8.71238 9.29057C8.9348 9.06816 9.23645 8.94321 9.55099 8.94321ZM13.1089 8.94321C13.4234 8.94321 13.7251 9.06816 13.9475 9.29057C14.1699 9.51298 14.2949 9.81464 14.2949 10.1292C14.2949 10.4437 14.1699 10.7454 13.9475 10.9678C13.7251 11.1902 13.4234 11.3151 13.1089 11.3151C12.7944 11.3151 12.4927 11.1902 12.2703 10.9678C12.0479 10.7454 11.9229 10.4437 11.9229 10.1292C11.9229 9.81464 12.0479 9.51298 12.2703 9.29057C12.4927 9.06816 12.7944 8.94321 13.1089 8.94321Z"
      fill="#F9F9F9"></path>
  </svg>
</div>
