---
const { text } = Astro.props;
---

<style>
  .searchbar {
    background-color: rgba(43, 43, 43, 0.8);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.75rem;
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    margin-top: -0.7rem;
    z-index: 2;
    border: 1px solid rgba(120, 120, 120, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    width: 15rem;
  }

  .searchbar__text {
    color: var(--white);
    font-size: var(--fs-sm);
  }

  /* media queries */
  @media only screen and (min-width: 40em) {
    .searchbar{
        width: 25rem;
    }
  }
</style>

<div class="searchbar">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="13"
    height="13"
    viewBox="0 0 13 13"
    fill="none"
  >
    <path
      d="M4.95942 9.6366C3.71743 9.6366 2.66642 9.20635 1.80638 8.34585C0.946331 7.48535 0.516081 6.43434 0.515625 5.19281C0.51517 3.95129 0.94542 2.90027 1.80638 2.03977C2.66733 1.17927 3.71834 0.749023 4.95942 0.749023C6.20049 0.749023 7.25173 1.17927 8.11314 2.03977C8.97455 2.90027 9.40457 3.95129 9.40321 5.19281C9.40321 5.69416 9.32345 6.16703 9.16393 6.61141C9.0044 7.05579 8.78791 7.44889 8.51445 7.79072L12.3429 11.6192C12.4683 11.7446 12.531 11.9041 12.531 12.0978C12.531 12.2915 12.4683 12.451 12.3429 12.5763C12.2176 12.7017 12.0581 12.7643 11.8644 12.7643C11.6707 12.7643 11.5112 12.7017 11.3858 12.5763L7.55732 8.74785C7.21549 9.02131 6.82239 9.2378 6.37801 9.39732C5.93363 9.55684 5.46077 9.6366 4.95942 9.6366ZM4.95942 8.26928C5.81399 8.26928 6.54049 7.9703 7.13892 7.37232C7.73735 6.77435 8.03634 6.04784 8.03589 5.19281C8.03543 4.33778 7.73644 3.61151 7.13892 3.01399C6.5414 2.41647 5.8149 2.11726 4.95942 2.11634C4.10393 2.11543 3.37765 2.41465 2.78059 3.01399C2.18353 3.61333 1.88431 4.33961 1.88295 5.19281C1.88158 6.04602 2.18079 6.77252 2.78059 7.37232C3.38039 7.97212 4.10666 8.27111 4.95942 8.26928Z"
      fill="#F9F9F9"></path>
  </svg>
  <p class="searchbar__text">{text}</p>
</div>
